#nav {
  position: fixed;
  top: 20px;
  width: 100%;

  & ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  & li {
    padding: 0px 20px;
  }

  & li:last-child {
    padding-right: 50px;
  }

  & i {
    color: #ffa45b;
  }
}
